.SearchBar {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .form {
        .label {
            background-color: #0a0a0a;
            border-radius: 1rem;
            padding: 0rem 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: start;
            height: max-content;

            .input {
                background: transparent;
                outline: none;
                border: none;
                font-family: Ubuntu;
                font-weight: bold;
                font-size: 1rem;
                padding: 1rem 0rem;
                color: #F1F1F1;
            }
        }
    }
}